* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-primary: #252732;
  --color-secondary: #ffffff;
  --color-gray: #f0f2fa;
  --color-blue: #0a57ca;
  --color-red: #da3a3a;
  --color-green: #06d6a0;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: "Open Sans", sans-serif;
  transition: all 0.5s ease;
}

h1 {
  font-size: 2.3rem;
  text-align: center;
  margin: 5rem 0 3rem 0;
}

button {
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.9);
  }
}

input[type="text"] {
  border: none;
  &:focus {
    outline: none;
  }
  color: var(--color-primary);
  font-family: "Open Sans", sans-serif;
  height: 100%;
  border: 0.5px solid var(--color-blue);
  width: 70%;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.new-todo-form {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto 3rem;
  input {
    margin: auto;
    width: 80%;
  }
  button {
    height: 100%;
    padding: 0.5rem;
    border-radius: 100px;
    background-color: var(--color-blue);
  }
  label {
    font-size: 1.2rem;
    min-width: 100%;
    text-align: center;
    margin: 0 0 1rem 0;
  }
}

.todo {
  background-color: var(--color-white);
  margin: 1rem auto;
  width: 35%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 1px 3px 4px 0px rgba(107, 94, 94, 0.25);
  color: var(--color-primary);
  li {
    list-style-type: none;
  }

  &__edit {
    transform: scale(1.05);
    box-shadow: 1px 3px 4px 0px rgba(19, 9, 9, 0.25);

    .save-btn {
      width: 100%;
      background-color: var(--color-blue);
      color: var(--color-gray);
    }
  }
}

//icon colors
.icon {
  margin: 0 0.3rem;
  &__check {
    color: var(--color-green);
  }
  &__trash {
    color: var(--color-red);
  }
  &__edit {
    color: var(--color-blue);
  }
  &__add {
    color: var(--color-gray);
  }
}

.errorPage {
  text-align: center;
  h1 {
    margin: 4rem auto 3rem;
    font-size: 3rem;
  }
  a {
    color: var(--color-secondary);
  }
  .error-svg {
    width: 40vw;
    display: block;
    margin: 5rem auto;
  }
}

//utils

.checked {
  text-decoration: line-through;
  background-color: var(--color-gray);
}

.error {
  border: 3px solid var(--color-red) !important;
  animation: error 5s 1;
  &--msg {
    margin: 0.5rem 3rem;
  }
}

.modal {
  margin: auto;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 3px solid var(--color-secondary);
  border-radius: 15px;
  padding: 4rem 6rem;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
}

//for small screens

@media (max-width: 690px) {
  .todo {
    width: 80%;
  }
  .new-todo-form {
    width: 80%;
  }
  .errorPage {
    h1 {
      font-size: 2rem;
    }
    .error-svg {
      width: 60vw;
    }
  }
  .modal {
    padding: 1.3rem 2rem;
    font-size: 1.3rem;
  }
}
